# Shuffle Configuration
ENVIRONMENT_NAME=Shuffle
BACKEND_HOSTNAME=shuffle-backend
BACKEND_PORT=5001
FRONTEND_PORT=3001
FRONTEND_PORT_HTTPS=3443

# Chemins locaux — chaque membre adapte selon son PC
SHUFFLE_APP_HOTLOAD_LOCATION=./shuffle-apps
SHUFFLE_FILE_LOCATION=./shuffle-files
DB_LOCATION=./shuffle-database

# Mot de passe OpenSearch — changer obligatoirement
SHUFFLE_OPENSEARCH_PASSWORD=StrongPassword1234!

# Encryption key — NE PAS CHANGER (doit être identique pour tous)
SHUFFLE_ENCRYPTION_MODIFIER=METTRE_LA_VALEUR_DE_TON_ENV_ICI

# Proxy (laisser vide si pas de proxy)
HTTP_PROXY=
HTTPS_PROXY=
SHUFFLE_PASS_WORKER_PROXY=false
SHUFFLE_PASS_APP_PROXY=false
